<style>
    body {
        background-image: url("@Url.Content("~/images/img4.png")");
    }
</style>

@model Task_Management_Platform.Models.Project



<h2 class="text-center mt-5">Creare proiect</h2>
<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            @using (Html.BeginForm(actionName:"New", controllerName:"Projects",
            method: FormMethod.Post))
            {
                @Html.ValidationSummary(false, "", new {@class = "text-danger"})

                @Html.Label("Name", "Nume Proiect")
                <br />
                @Html.TextBox("Name", null, new {@class="form-control"})

                @Html.ValidationMessageFor(m=>m.Name, "", new{@class="text-danger"})
                <br /><br />

                @Html.Label("Description", "Descriere proiect")
                <br />
                @Html.TextArea("Description", null, new {@rows="5", @cols="60"})
                @Html.ValidationMessage("Description", null, new {@class="text-danger"})
                <br /><br />
                
                <button class="btn btn-success" type = "submit">Adauga proiect</button>
            }
        </div>
    </div>
</div>
