@model Task_Management_Platform.Models.Project

<style>
    body{
        background-color: #205295;
    }

    .multiline {
        white-space: pre-wrap;
        color:antiquewhite;
    }
</style>

@{
    ViewBag.Title = "Afisare Proiect";
}

@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"]">
        @TempData["message"]
    </div>
}

<br />

<div class="card-body flex-row justify-content-center">
    <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Name</h3>
    <h4 class="card-footer py-3 px-3 rounded-2">Creat de: @Model.User.UserName</h4>
    @if (Model.Description != null)
    {
        <div class="multiline">@Model.Description</div>
    }
    @if (ViewBag.AfisareButoane == true || Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
    {
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">

            <a class="btn btn-success" href="/Projects/Edit/@Model.Id">Editeaza proiect</a>

            <form method="post" action="/Projects/Delete/@Model.Id">

                <button class="btn btn-danger" type="submit">Sterge proiect</button>

            </form>

            <form method="post" action="/Projects/AddTask/@Model.Id">
                <button class="btn btn-primary flex-row justify-content-end" type="submit">Adauga task</button>
            </form>

        </div>


       
    }

@*    <a asp-controller="Tasks" asp-action="New">
        <input type="button" class="btn btn-primary" value="New" />
    </a>*@

    @*afisare task-uri pentru fiecare proiect*@
    @foreach(var task in Model.Tasks)
    {
        <div class="card">

            @Html.Partial("TaskInfo", task )


            <a class="btn btn-success" href="/Tasks/Show/@task.TaskId">Afisare task</a>


        </div>

        <br />
        <br />
    }

</div>