@{
    ViewBag.Title = "Index";
}

<h2>Afisare task-uri</h2>
<br />
@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<br />

@foreach (Task_Management_Platform.Models.Task task in ViewBag.Tasks)
{
  
    if (User.IsInRole("Admin"))
    {
        <div class="card">

            @Html.Partial("TaskInfo", task )


            <a class="btn btn-success" href="/Tasks/Show/@task.TaskId">Afisare task</a>


        </div>

        <br />
        <br />
    }
    

}

@*Afisare paginata*@

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


