@model Task_Management_Platform.Models.Task


<h2 class="text-center mt-5">Adaugarea unui task</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Tasks",
            method: FormMethod.Post))
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Title", "Numele unui task")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                <br />

                <br />

                @Html.Label("Description", "Descrierea unui task")
                <br />
                @Html.TextArea("Description", null, new { @class = "form-control" })

                @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
                <br />

                <br />

                <label>Selectati task-ul in functie de status</label>
                string[] ViableStatuses = new[] { "In progress", "Finished" };
                @Html.DropDownListFor(m => m.Status, new SelectList(ViableStatuses),
                "Selectati categoria", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.TaskId, null, new { @class = "text-danger" })
                <br />

                <br />

                <button class="btn btn-success" type="submit">Adauga un task</button>

            }

        </div>
    </div>
</div>








