@model Task_Management_Platform.Models.Task


@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"]">
        @TempData["message"]
    </div>
}

<br />

<div class="card">

    @Html.Partial("TaskInfo", Model)

    @if (ViewBag.AfisareButoane == true || ViewBag.EsteAdmin)

    {
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">

            <a class="btn btn-success" href="/Tasks/Edit/@Model.TaskId">Modifica task-ul</a>

            <form method="post" action="/Tasks/Delete/@Model.TaskId">

                <button class="btn btn-danger" type="submit">Sterge task-ul</button>

            </form>

        </div>
    

        <form method="POST" asp-controller="Tasks" asp-action="AddUser">
            <input type="hidden" name="TaskId" value="@Model.TaskId" />
            <div class="d-flex flex-row justify-content-center p-3 border-1 border-top">
                <div>
                    <select name="UserId" class="form-control">
                        <option selected>Assign task to a user</option>
                        @foreach(var user in ViewBag.UserTasks)
                        {
                            <option value="@user.Id">@user.UserName</option>
                        }
       
                    </select>
                </div>
                <div>
                    <input type="submit" class="btn btn-success alert-success" value="+" />
                </div>
            </div>
        </form>
    }
</div>

@*
    


    *@



<br />
<br />

@* Afisare comentarii impreuna cu butoanele de editare si stergere *@

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>

                    <p>@comm.Content</p>
                    <small>@comm.Date</small>
                    <br />
                    <strong><i class="bi bi-person"></i>User: @comm.User.UserName</strong>

                </div>
                <br>

                @if (comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                {
                    <div class="d-flex">
                        <div>
                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>
                        </div>
                        <div>
                            <form method="post" action="/Comments/Delete/@comm.Id">
                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                            </form>
                        </div>
                    </div>
                }
                <br />
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}


@*Formularul pentru adaugare comentarii*@
<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Tasks/Show/@Model.TaskId">

                    <div class="card-body">

                        <input type="hidden" name="TaskId" value="@Model.TaskId" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>

                        @Html.ValidationMessage("Content", null, new { @class = "text-danger"})

                        <br /><br />

                        <button class="btn btn-success " type="submit">Adauga comentariul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>

